.artistsBlock .artistBlock .artistName {
    text-decoration: none;
    color: #3C79AB;
}

.artistsBlock .artistBlock .artistName:hover {
    cursor: pointer;
    color: #72B4EC;
}

.artistsBlock .artistBlock .artistNameHolder {
    line-height: 16px;
}

