body
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    }

a {
    text-decoration: none;
    color: #3c79ab;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: #72b4ec;
}

.topContainer {
    background: url(../images/main_bg.jpg) center top no-repeat;
    width: 730px;
    height: 599px;
    overflow: hidden;    
}

a.title {
    color: #777777;
    font-weight: bold;
    height: 15px;
    line-height: 14px;
    width: 100px;
    display: block;
    margin-left: 20px;
    margin-bottom: 11px;
}

a.title:hover {
    color: #72b4ec;
}

a.title span
{
    width: 15px;
    height: 15px;
    background: url(../Images/note.png) 0 0 no-repeat;
    float: left;
    display: block;
    margin-right: 3px;
}

.title:hover span {
    background-position: 0 -15px;
}

#headerBlock 
{
    height: 34px;
    background: url(../Images/header_bg.jpg) no-repeat;
    margin-bottom: 23px;
}

    #headerLogo
    {
        display: block;
        float: left;
        width: 79px;
        height: 27px;
        background: url(../Images/logo.png) left top no-repeat;
        margin: 4px 0 0 17px;
    }

    #headerLogo:hover
    {
        background-position: center bottom;
    }
  
                                
        /* drop down block */
        .dropDownBlock
        {
            background: url(../Images/dropdownblock_bg.jpg) #f5f5f5 left top repeat-x;
            padding: 4px 4px 6px 4px;
            height: auto;
            top: 37px;
            position: absolute;
            border: 1px solid #fff;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0 0 1px 1px #dcdee0, 1px 1px 3px rgba(0,0,0,0.1);
            -webkit-box-shadow: 0 0 1px 1px #dcdee0, 1px 1px 3px rgba(0,0,0,0.1);
            box-shadow: 0 0 1px 1px #dcdee0, 1px 1px 3px rgba(0,0,0,0.1);
        }
        .mainNavShift
        {
            margin-left: -48px;
        }
        
        div.dropmenuArrow
        {
            background: url(../Images/dropdownblock_arrow.png) no-repeat;
            width: 11px;
            height: 8px;
            position: absolute;
            top: -8px;
            left: 56px;
        }

/* Right block */
.rightBlock {
    width: 560px;
    height: auto;
    float: right;
    margin-right: 20px;
}

.rightBlock ul.tabNavigation li {
    width: auto;
    height: 20px;
    line-height: 20px;
    padding-right: 18px;
    float: left;
    font-family: Tahoma, Geneva, sans-serif;
}

.rightBlock ul.tabNavigation li a{
    color: #666;
}

.rightBlock ul.tabNavigation li a:hover{
    color: #3c79ab;
}

.rightBlock ul.tabNavigation li a.active{
    color: #666;
    font-weight: bold;
    cursor: default;
}

.rightBlock .rightContainer {
    border: 1px solid #fff;
    width: 560px;
    height: auto;
    margin-bottom: 76px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    min-height: 600px;
}
