.rightBlock .searchResult .searchResultInfo {
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #cacaca;
    text-align: left;
    text-indent: 5px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}

.trackBlock {
    width: 556px;
    height: 32px;
    margin: 0 auto;
    border-bottom: 1px solid #ebebeb;
    -moz-box-shadow: 0 2px 2px 0 #fff;
    -webkit-box-shadow: 0 2px 2px 0 #fff;
    box-shadow: 0 2px 2px 0 #fff;
}