.playerBlock {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 509px;
}
.playerMainBlock
{
/*    position: fixed; */
    width: 509px;
    height: 33px;
    background: url(../Images/Player/player_bg.png) left top no-repeat;
    top: 555px;
    right: -12px;
    padding: 6px 6px 8px 6px;
    z-index: 999999;
    }
.playerButton
{
    float: left;
    width: 28px;
    height: 22px;
    cursor: pointer;
    background: url(../Images/player/playerBtns.png) no-repeat;
}

.butonBlock
{
    margin:8px 0 0 8px; 
    }

.playerMainBlock .prev
{
    background-position: -44px 0;
}
  
.playerMainBlock .prev:hover 
{
    background-position: -44px -22px;
}

.playerMainBlock .playPause
{
    background-position: -22px 0;
}
  
.playerMainBlock .playPause:hover 
{
    background-position: -22px -22px;
}

.playerMainBlock .pause
{
    background-position: -66px 0;
}
  
.playerMainBlock .playPause:hover 
{
    background-position: -66px -22px;
}
      
.playerMainBlock .next
{
    background-position: 0 0;
}
  
.playerMainBlock .next:hover 
{
    background-position: 0 -22px;
}
.butonBlock
{
    width: 120px;
    float: left;
    }
    
.songActions
{
    width: 22px;
    margin-left: 8px;
    }
    
.butonBlock .addToWall 
{
    background-position: 0 -44px;
    }

.butonBlock .addToWall:hover
{
    background-position: 0 -66px;
    }

.butonBlock .addToFavorit 
{
    background-position: -22px -44px;
    }

.butonBlock .addToFavorit:hover
{
    background-position: -22px -66px;
    }

.butonBlock .share
{
    background-position: -66px -44px;
    }

.butonBlock .share:hover
{
    background-position: -66px -66px;
    }

.centerPart
{
    float: left;
    width: 335px;
    }
    
.centerPart .cover
{
    width: 35px;
    height: 35px;
    background: url(../Images/Player/cover.jpg) no-repeat;
    margin: 0 8px 0 4px;
    float: left;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    }

.centerPart .trackName
{
    width: 275px;
    height: 16px;
    overflow: hidden;
    font-size: 9px;
    text-align: left;
    color: #888;
    margin-top: 5px;
    }
    
.centerPart .trackSlider
{
    width: 175px;
    height: 4px;
    margin: 3px 0 0 4px;
    float: left;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.centerPart .trackSlider, .centerPart .trackVolume 
{
    background: url(../Images/Player/sliderBg.jpg) repeat-x;
}

    
.centerPart .ui-slider-range-min
{
    background: url(../Images/Player/sliderBgLeft.jpg) center top repeat-x;
}
    
.centerPart .trackSlider .ui-slider-handle, .centerPart .trackVolume .ui-slider-handle
{
    width: 15px;
    height: 15px;
    position: absolute;
    top: -6px;
    background: url(../Images/Player/handle.png) center top no-repeat;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: 0;
}

.centerPart .trackSlider .ui-slider-handle:hover
{
    background-position:  center bottom;
}

.centerPart .trackTimer 
{
    width: 45px;
    height: 14px;
    font-size: 9px;
    color: #777;
    float: left;
    margin: -2px 0 0 5px;
}   

.centerPart .trackVolume
{
    width: 50px;
    height: 4px;
    float: left;
    margin-top: 2px;
    }
    
.playerMainBlock .rightPart
{
    width: 22px;
    height: 22px;
    float: right;
    background: url(../images/Player/toggleView.png) center top no-repeat;
    margin: 7px 15px 0 0;
    cursor: pointer;
    }
    
/* header */
.playerHeader {
    width: 505px;
    height: 122px;
    padding-top: 10px;
    background: url(../images/Player/header.png) center top no-repeat;
    margin-bottom: -3px;
}

.playerHeader .albumCover {
    display: block;
    width: 114px;
    height: 111px;
    background: url(../images/player/Cover_Border.png) center top no-repeat;
    padding: 2px 0 0 14px;
    float: left;
}

.playerHeader .trackDetails {
    font-size: 11px;
    width: 340px;
    overflow: hidden;
    float: left;
}

.playerHeader .trackDetails a{
    text-decoration: none;
    color: #3c79ab;
}

.playerHeader .trackQuality {
    margin-top: 2px;
}

.playerHeader .detailDescription 
{
    font-size: 11px;
    color: #b3b3b3;
    text-align: left;
    line-height: 17px;
}

.playerHeader .heart {
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    background: url("../Images/player/headerIcons.png") -37px 0 no-repeat;
}

.playerHeader .heart:hover {
    background-position: -37px -15px;
}

.playerHeader .compactViewBtn {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    background: url("../Images/player/headerIcons.png") 0 0 no-repeat;
    float: right;
    cursor: pointer;
}

.playerHeader .compactViewBtn:hover {
    background-position: 0 -22px;
}

.playerHeader .bottomButtonsBlock 
{
    position: relative;
    margin-top: 95px;
}

.playerHeader .btnRotator {
    float: left;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url(../Images/player/playerBtns.png) -25px -45px no-repeat;
}

.playerHeader .bottomButtonsBlock .btnRotator:hover {
    background-position: -25px -67px;
}

.playerHeader .bottomButtonsBlock .menuTriangle {
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
    background: url(../Images/player/headerIcons.png) -85px 3px no-repeat;
}

.playerHeader .bottomButtonsBlock .menuTriangle:hover {
    background-position: -85px -12px;
}

.playerPlaylistBlock {
    width: 505px;
    height: 335px;
    background: url(../images/Player/playList.png) center top no-repeat;
}

.playerDropmenuShift {
    margin-left: -160px;
    z-index: 999999;
    width: 170px;
}

.bottomButtonsBlock .menuTriangle .playerDropmenuShift .dropmenuArrow {
    left: 160px
}

.bottomButtonsBlock .menuTriangle .dropDownBlock {
    top: 20px;
}