.mCSB_container
{
    margin-right: auto !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background: #dce1e7 !important;
    width: 6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background: transparent !important;
}