.rightBlock #rightSearchBlock
{
    text-align: left;
    position: relative;
}

.rightBlock #rightSearchBlock #searchBar 
{
    width: 410px;
    height: 20px;
    color: #b4b4b4;
    margin-left: 10px;
    line-height: 18px;
    outline: none;
    border: 0;
    display: block; /* f u ie */
    float: left; /* f u ie */
}


.rightBlock  #rightSearchBlock .searchLoader {
    position: absolute;
    top: 5px;
    left: 400px;
    display: none;
}

.rightBlock #rightSearchBlock .searchCriterion {
    float: right;
    cursor: pointer;
    line-height: 20px;
    height: 22px;
    color: #cacaca;
    position: relative;
}

.rightBlock #rightSearchBlock .searchCriterion div.triangleblock {
    width: 15px;
    height: 15px;
    margin-top: 3px;
    background: url(../images/select.png) 0 0 no-repeat;
    float: right;
    padding-left: 5px;
}

.rightBlock #rightSearchBlock .searchCriterion .dropDownBlock{
    margin-top: -15px;
    right: -10px
}

#rightSearchBlock .searchCriterion .dropDownBlock .dropmenuArrow {
    left: 101px;
}

.rightBlock #rightSearchBlock .searchCriterion:hover div.triangle {
    background-position: 0 -15px;
}

.rightBlock #rightSearchBlock .searchCriterion:hover {
    color: #bfbfbf;
}

.rightBlock #rightSearchBlock .searchCriterion  {
    color: #bfbfbf;
}

#searchBar.cancel .searchLoader{
    display: block;
}

.searchCancel {
    width: 15px;
    height: 15px;
    float: left;
    background: url(../images/magnifier.png) 4px 2px no-repeat;
    cursor: pointer;
}

.searchCancel.cancel 
{
    background-position: 4px -23px !important;
}

#rightSearchBlock .searchCriterion:hover .dropDownBlock {
    display: block;
}
